<div style="  position: relative; height: 400px;">
  <div style="  margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 200px;">
    <form class="example-form" [formGroup]="fg">
      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Required input</mat-label>
        <input type="text" matInput formControlName="firstInput" placeholder="Input">
        <mat-error *ngIf="this.fg.get('firstInput')?.invalid && this.fg.get('firstInput')?.touched">
          {{getValidationMessage('firstInput')}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Minlength(3) input</mat-label>
        <input type="text" matInput formControlName="secondInput" placeholder="Input">
        <mat-error *ngIf="this.fg.get('secondInput')?.invalid && this.fg.get('secondInput')?.touched">
          {{getValidationMessage('secondInput')}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>MaxLength(5) input</mat-label>
        <input type="text" matInput formControlName="thirdInput" placeholder="Input">
        <mat-error *ngIf="this.fg.get('thirdInput')?.invalid && this.fg.get('thirdInput')?.touched">
          {{getValidationMessage('thirdInput')}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Type: hello</mat-label>
        <input type="text" matInput formControlName="fourthInput" placeholder="Input">
      </mat-form-field>
      <app-message-footer formControlName="fourthInput"></app-message-footer>
    </form>
  </div>
</div>